.banner-wrap {
    width: 100%;
    height: auto;
    background-color: #3b1515;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    background-color: #302e2e;
    flex-wrap: wrap;


    .banner {
        opacity: 1;
        transition: opacity 2s ease;
        width: 1200px;
        display: flex;
        justify-content: space-around;

        padding-top: 100px;

        .title-content {
            width: 410px;
            height: 600px;
            color: white;
            position: relative;
            z-index: 0;

            .circle {
                position: absolute;
                width: 55px;
                height: 55px;
                background: linear-gradient(to right, orange, rgb(187, 185, 185));
                z-index: -1;
                top: 0px;
                left: 230px;
                border-radius: 100%;
            }

            .h1 {
                font-size: 61px;
                z-index: 0;

            }

            .text-title {
                color: gray;
                margin-top: 20px;
            }

            .search-bar {
                background-color: white;
                border-radius: 5px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 50px;

                i {
                    color: rgb(52 86 225);
                    font-size: 30px;
                }

                input {
                    border: none;
                    outline: none;
                }

                .search {
                    button {
                        margin: 10px;
                        width: 90px;
                        height: 40px;
                        border-radius: 5px;
                        background-color: rgb(52 86 225);
                        color: white;
                        cursor: pointer;
                        justify-content: center;
                        text-align: center;
                        align-items: center;

                    }

                    :hover {
                        transform: scale(1.1);

                    }
                }




            }
        }


        .window {
            width: 466px;

            img {
                width: 466px;
                height: 546px;
                border-radius: 50% 50% 0 0;
                border: solid 10px rgb(75, 74, 74);
            }

        }

        .quantity {
            display: flex;
            margin: 20px;
            justify-content: space-between;
            align-items: center;
            text-align: center;

            .quantity-item {
                width: 48px;

                .quantity-number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-size: 33px;
                    margin: 0 30px;

                    p {
                        color: yellow;
                    }
                }

                .quantity-title {
                    font-size: 12px;
                    width: 141px;
                    margin-left: -38px;
                }
            }
        }

    }

    @media (max-width:922px) {
        .banner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 30px;



        }

    }

    @media (max-width:494px) {
        .banner {
            .title-content {
                max-width: 300px;

                .h1 {


                    font-size: 45px;
                }
            }

            .window {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 10px;

                img {
                    width: 356px;
                    height: 450px;

                }
            }


        }
    }
}