.header-wrap {
    width: 100%;
    background: none;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: #302e2e;
    flex-wrap: wrap;
    transition: ease-in-out 2s;
    margin-left: 10px;



    // align-items: center;
    .nav {

        width: 1200px;
        height: 71px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 32px;

        img {
            width: 100px;
            height: 38px;
            cursor: pointer;
        }

        a {
            margin: 10px;
            color: white;
            cursor: pointer;
        }

        button {
            margin: 10px;
            width: 90px;
            height: 40px;
            border-radius: 5px;
            background-color: rgb(52 86 225);
            color: white;
            cursor: pointer;


        }

        .bar-mobile {
            display: none;
            color: white;

            font-size: 25px;
        }



    }



}




@media (max-width:742px) {
    .header-wrap {
        .nav {


            .menu {
                display: none;
            }



            .bar-mobile {
                display: flex;

            }
        }

        .nav.active {


            .menu {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-self: center;
                position: absolute;
                top: 50px;
                right: 50px;
                background-color: white;
                border-radius: 15px;
                padding: 50px;



                a {
                    color: black;
                }

            }
        }


    }



}